@font-face{
    font-family: "BalooBhai";
    src: url("../fonts/BalooBhai.ttf");
}
@font-face{
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-image: radial-gradient(circle at 100%, black, rgb(65, 65, 65));
}

span {
    background-color: none;
    color:white;
    font-family: "Trebuchet MS";
    font-size: 50px;
    font-weight: 300;
}

.landin-top {
    margin-top: 20rem;
    padding: 0 0 0 0;

    width: 100%;

    position: relative;
    /* text-align: center; */
}
.landing {
    margin: auto;
    margin-top: 15rem;
    padding: 0 0 0 0;

    width: 100%;

    position: relative;
    /* text-align: center; */
}

.headline {
    margin-top: 5%;
}

.headline h1 {

    margin: 0;

    background-color: none;
    text-align: center;

    color:white;
    font-family: "Righteous";
    font-size: 150px;
    font-weight: 500;
    text-shadow: 5px 5px 5px #000000;
}

.headline p {
    margin: 0;
    text-align: center;
    background-color: none;
    color:white;
    font-family: "Trebuchet MS";
    font-size: 35px;
    font-weight: 300;
}

.flip-static {
    margin-top: 10%;
}

.flip-ani {
    width: 75%;
    margin: auto;
    text-align: center;

    display: inline;
}

.flip-ani span{
    width: 100%;
    top: 5em;

    animation: flip 12.5s ease-in-out infinite 0s;
    opacity: 0;

    font-size: 35px;

    overflow:hidden;
    position:absolute;

}

.flip-ani span:nth-child(2){
	animation-delay: 2.5s;
}
.flip-ani span:nth-child(3){
	animation-delay: 5s;
}
.flip-ani span:nth-child(4){
	animation-delay: 7.5s;
}

@keyframes flip {
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateY(-50px); }
	10% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 0; transform: translateY(50px); }
	95% { opacity: 0; }
	100% { opacity: 0; }
}
