<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PSB89YNV9J"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PSB89YNV9J');
    </script>

    <meta charset="UTF-8">
    <title>bilbo</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    {% feed_meta %}
    {% seo %}
</head>
<body>
    {{ content }}        
</body>
</html>
